.Coursetable, tr, th, td
{
    border: 1px solid black;
    font-size:15px;
    color:white;
    background-color: rgb(0, 146, 102);
    border-width: 2px;
    border-style:groove;
    margin: auto;
}