.Coursetable
{
    font-size:15px;
    background-color: #40976A;
    transition: all ease 0.5s;
    border-collapse: collapse;
    color:white;
    td
    {
        border:solid black;
        border-radius: 10px;

    }
    
    th
    {
        border:solid black;
        
    }
}

@media screen {
    
}