.linkBox {
  border: 3px solid #000000;
  padding: 20px;
  margin: 0 auto 20px; /* Center the box horizontally */
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 50px;
  background-color: #D9D9D9;

  h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  
  .scrollableContainer {
    max-height: 150px;
    width: 400px;
    overflow-y: auto;
    overflow-x: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fffefe;
  
    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 5px;
        font-size: 1rem;
      }
    }
   }
  
  .linkInput {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #40976A;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; 
    font-weight: bold;
    transition: background-color 0.3s;
  }
}.linkBox {
  border: 5px solid #000000;
  padding: 20px;
  margin: 0 auto 20px; /* Center the box horizontally */
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;

  h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  
  .scrollableContainer {
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  
    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 5px;
        font-size: 1rem;
      }
    }
   }
  
  .linkInput {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #40976A;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; 
    font-weight: bold;
    transition: background-color 0.3s;
  }
}