.Scheduletable
{
    font-size:15px;
    background-color: rgb(0, 146, 102);
    transition: all ease 0.5s;
    border-collapse: collapse;
    color:white;
    table-layout: fixed;
    width: 90%;

    td
    {
        border:solid black;
    }

    th
    {
        border:solid black;
    }
}

@media screen {
    
}