.searchBar {
  text-align: left;
  width: 350px;

  [id=searchInput] {
    width: 342px;
  }
}

.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: small;

  th, td {
    text-align: center;
    width: 100%;
    padding: 3px;
    border: 1px solid #000000;
  }

  th {
    color: #000000;
  }

  tr:nth-child(even) {
    background-color: rgba(50,148,101, 0.55);
  }

  tr:nth-child(odd) {
    background-color: rgba(0, 146, 102, 0.85);
  }
}