.studentCard {
  background-color: #40976A;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* Stretch children to match width for alignment */
  color: white;
  width: 450px;
  height: 220px;
  /* Adjust height as necessary */
  font-family: "Bebas Neue", sans-serif;
  position: relative;
}

.studentCard input {
  background-color: #D9D9D9;
  /* Light grey background */
  border-radius: 10px;
  /* Rounded corners */
  font-family: "Bebas Neue", sans-serif;
  /* Specified font */
  border: 1px solid #ccc;
  padding: 3px;
  margin: 5px 0;
  width: calc(100% - 20px);
  box-sizing: border-box;
}

.studentCard input {
  font-size: 16px;
}

.contentContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.studentImage {
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23FFF" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="100px" height="100px"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"/></svg>');
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-right: 20px;

  .uploadButton {
    margin-top: 20px;
    height: 100px;
    width: 100px;  background-color: transparent; /* Ensure the background is transparent */
    opacity: 0; /* Make the button fully transparent */

  }
}

.studentInfo {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 25px;
}

.editButton {
  background-color: #D9D9D9;
  color: #000000;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px 20px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: auto;
  align-self: flex-end;
}