.Home {
    justify-content: center;
    align-items: center;
    width: 100%;

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 30px;
        margin-left: 30px;

        .views {
            display: flex;
            width: 80%;
            border-radius: 20px;
            padding: 0px 25px;
            justify-content: space-between;
            background-color: #D9D9D9;
            align-items: center;
        }

        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
        .addScheduleButton {
            display: flex;
            padding: 8px 16px; 
            border-radius: 8px; 
            background-color: #40976A; 
            color: white;
            font-size: 14px; 
        }
        .removeScheduleButton {
            display: flex;
            padding: 8px 16px; 
            border-radius: 8px; 
            background-color: #40976A; 
            color: white; 
            font-size: 14px; 
        }
    }

    .calendarCenter {
        display: flex;
        width: 100%;
        margin-top: 30px;
        margin-right: 80px;
        justify-content: center;


        .calendarContainer {
            width: 100%;
            padding: 0px 20px;
        }

        .inputLocation {

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 100%;

                .dateInput {
                    border-radius: 15px;
                    border: 1px solid #ccc;
                    padding: 8px;
                    width: 100%;
                    box-sizing: border-box;
                    margin-bottom: 10px;
                }

                .hourInput {
                    border-radius: 15px;
                    border: 1px solid #ccc;
                    padding: 8px;
                    width: 100%;
                    box-sizing: border-box;
                    margin-bottom: 10px;
                }
            
        }
    }
}