.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .header {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 30px;

        .views {
            display: flex;
            width: 80%;
            border-radius: 20px;
            padding: 0px 25px;
            justify-content: space-between;
            background-color: #D9D9D9;
            align-items: center;
        }

        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
    }

    .calendarCenter {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 30px;
        margin-left: 370px;
        align-items: flex-end;


        .calendarContainer {
            width: 60%;
            padding: 0px 20px;
        }

    }
}