@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.LoginPage {
    background-color: rgb(255, 255, 255);
    width: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoginPage-header {
      text-align: center;
      font-size: 24px;
      color: #333; 
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 6rem;
}

p {
    font-size: 100%;
}


.loginButton {
    margin-top: 10px;
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
    width: 40%;
    background-color: #40976A;
    cursor: pointer;
    color: white;
    border: 2px solid #40976A;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .loginButton:hover {
    background-color: #2a6955;
    transform: scale(1.05);
  }

  .signUpButton {
    text-decoration: none;
    font-size: 100%;
    text-align: center;
    background-color: #D9D9D9;
    border-radius: 20px;
    width: 70px;
    color: GrayText;
    padding: 0.2%;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .signUpButton:hover {
    background-color: #CCCCCC;
    transform: scale(1.05);
  }
  
@media only screen and (max-width: 600px) {
    .image {
      display: none;
    }

    h1 {
        font-size: xx-large;
    }
  }
