.body {
    .offeredCourses {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;

        .header {
            text-align: center;
            margin-bottom: 40px;
        }
    }
}