.professorReview {
    padding: 20px;

    .header3 {
        text-align: center;
        font-size: 35px;
        font-family: 'Bebas Neue', sans-serif;
        margin-bottom: 40px;
        padding: 20px;
        color: hsl(0, 0%, 100%);
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #40976A;
        border: 2px solid #FFFFFF; /* Adding a white border */
    }

    .header4 {
    text-align: center;
    font-size: 35px;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 40px;
    padding: 20px;
    color: hsl(0, 0%, 100%);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #6A4097; /* You can adjust the background color */
}

}