.signupContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .SignupBox {
    background-color: #D9D9D9;
    width: 400px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .nameFields {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .field {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .field:not(:last-child) {
    margin-bottom: 15px; // Add margin-bottom to all fields except the last one
  }
  
  form label {
    font-size: 18px;
    text-align: left;
    margin-bottom: 5px;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="password"] {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 16px;
  }
  
  input[type="button"] {
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #05B774;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: #04865a;
    }
  }
  
  p {
    text-align: center;
    margin-top: 20px;
  }
  
  a {
    color: #05B774;
    text-decoration: none;
  
    &:hover {
      text-decoration: underline;
    }
  }
  