body{
    background-color: white;

}

.SignupBox{
    background-color: #D9D9D9;
    width: 400px;
    height: 620px;
    margin:auto;
    border-radius: 20px;
}

h2{
    text-align: center;
    padding-top: 2px;
}

form{
    width: 300px;
    margin-left: 20px;
}

form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

form input{
    width: 340px;
    padding: 8px;
    border: none;
    border: 1px solid gray;
    border-radius: 0px;
}

input[type="button"]{
    width: 360px;
    height: 35px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #05B774;
}