.tableview {
    display: flex;
    width:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:5px;
    color: #40976A;
    font-family: "Bebas Neue", sans-serif;
    font-size:25px;
}