/* .StudentPage {
    background-color: rgb(0, 146, 102);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

*
{
  margin:0;
}

.topbar
{
  height: 1%;
  width: 100%;
  padding: 0.1rem;
  background-color: rgb(0, 146, 102);
  color:white;
  transition:all ease;
}

.topbar #btn1
{
  font-size: 30px;
  cursor: pointer;
  rotate: 0deg;
  transition: all ease 0.5s;
  opacity: 1;
}

.sidebar #btn2
{
  font-size: 30px;
  cursor: pointer;
  transition: all ease 0.35s;
  float:right;
}

.btntitle
{
  font-family:fantasy;
  font-size: 26px;
}

.user
{
  text-align: right;
  float:right;
}

.user-img
{
  width: 28px;
  border-radius: 100%;
  border: 2px solid black;
}

.sidebar
{
  position: absolute;
  background-color: rgb(0, 146, 102);
  transition: all ease 0.5s;
  height:100%;
  width: 0;
  opacity:0;
  color:white;
  padding: 0.1rem;  
}

.main-page
{
  display:flex;
}

.profile-side
{
  flex: 30%;
  outline: auto;
}

.curriculum-side
{
  flex: 70%;
  outline: auto;
  text-align: center;
}
