/* .StudentPage {
    background-color: rgb(0, 146, 102);
} */


.topbar
{
  height: 1%;
  width: 100%;
  padding: 0.1rem;
  background-color: rgb(0, 146, 102);
  color:white;
  transition:all ease 0.5s;

  .btntitle
  {
    font-family:fantasy;
    font-size: 26px;
  }

  .user
  {
    text-align: right;
    float:right;
  }

  .userimg
  {
    width: 28px;
    border-radius: 100%;
    border: 2px solid black;
  }
}

.mainpage
{
  display:flex;

  .profileside
  {
    flex: 35%;
    outline: auto;
  }

  .curriculumside
  {
    flex: 65%;
    text-align: center;
    position: relative;
    transition: all ease 0.5s;
    outline: auto;

    .viewbutton
    {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;
    }

    .tableview
    {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      // .table1
      // {
      //   opacity: 1;
      //   transition: all ease 0.5s;
      //   border:0.5rem solid white;
      //   position:absolute;
      //   padding-bottom:10rem;
      // }

      // .table2
      // {
      //   opacity:0;
      //   transition: all ease 0.5s;
      //   border:0.5rem solid white;
      //   position: relative;
      // }
    }
  }
}






