/* .StudentPage {
    background-color: rgb(0, 146, 102);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.topbar {
  height: 1%;
  width: 100%;
  padding: 0.1rem;
  background-color: rgb(19, 107, 4);
  color: white;
  transition: all ease;

  .btntitle {
      font-family: fantasy;
      font-size: 26px;
  }

  .curriculum {
      text-align: center;
      float: left;
      margin-right: 10px; 
  }

  .user {
      text-align: center;
      float: right;

      .userimg {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          border: 2px solid black;
          cursor: pointer;
          transition: all 0.3s ease;
          margin-right: 10px;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

          
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 12px;
          color: white;
      }

      
      .userimg:hover {
          border-color: #fff;
          transform: scale(1.1);
      }
  }

  
    
    .mainpage {
        display: flex;
    
        .profileside {
            flex: 30%;
            outline: auto;
        }
    
        .curriculumside {
            flex: 5px;
            outline: auto;
        }
    }

      
  }

  .newProfileIcon {
    position: absolute;
    top: 210px;
    left: 10px;
    cursor: pointer; 
  }
  
  .profileIcon {
    width: 95px;
    height: 95px; 
    border-radius: 50%; 
    border: 2px solid black;
    transition: transform 0.3s;
}

  
  .newProfileIcon:hover .profileIcon {
    transform: scale(1.2); 
  }
  .switchContainer {
    display: flex;
    align-items: center;
  }
  
  .switch {
    position: relative;
    width: 50px;
    height: 24px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 34px;
  
   
  
    .switchIcon {
      width: 20px;
      height: 20px;
      position: absolute;
      top: -20px;
      right: -610px;
    }
  
   
    
    
  }
  
  /* Add any additional styles or adjustments as needed */
  

.mainpage {
  display: flex;

  .profileside {
      flex: 0%;
      outline: auto;
  }

  .curriculumside {
      flex: 5px;
      outline: auto;
  }
}
